/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*general*/
body{
  background-color: rgb(1, 1, 32);
}
*,
* ::before,
* ::after {
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-1{
  height: 20px;
  width: 50px;
  background: linear-gradient(to right, rgb(97, 97, 209), rgb(114, 218, 114));
  border-radius: 15px;
  margin-left: 10px;
}
.margin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-2{
  height: 20px;
  width: 20px;
  background-color: rgb(29,32,41);
  border-radius: 50%;
  
}
.header-h1{
  font-size: 30px;
  font-weight: 700;
  text-transform: inherit;
  color: #fff;
  margin-top: 20px;
}
.header-h2{
  color: rgb(84, 84, 146);
}
.section-box{
  height: 200px;
  width: 250px;
  background-color:rgb(37,43,67) ;
}
.link{
  color: #fff;
}